.zero {
    grid-area: zero;
  }
  .one {
    grid-area: one;
  }
  .two {
    grid-area: two;
  }
  .three {
    grid-area: three;
  }
  .four {
    grid-area: four;
  }
  .five {
    grid-area: five;
  }
  .six {
    grid-area: six;
  }
  .seven {
    grid-area: seven;
  }
  .eight {
    grid-area: eight;
  }
  .nine {
    grid-area: nine;
  }
  .clear {
    grid-area: clear;
  }
  .moreless {
    grid-area: moreless;
  }
  .percentage {
    grid-area: percentage;
  }
  .division {
    grid-area: division;
  }
  .subtraction {
    grid-area: subtraction;
  }
  .addition {
    grid-area: addition;
  }
  .multiplication {
    grid-area: multiplication;
  }
  .point {
    grid-area: point;
  }
  .equals {
    grid-area: equals;
  }
  
  .keyboard {
    display: grid;
    gap: 20px;
    grid-template-areas:
      "clear moreless percentage division"
      "seven eight nine multiplication"
      "four five six subtraction"
      "one two three addition"
      "zero zero point equals";
  }